[Unit]
Description=HttpdArpHistory
After=network.target

[Service]
WorkingDirectory=/opt/sntools
SyslogIdentifier=httpdarphistory

ExecStart=/opt/sntools/bin/httpd-exec -p 80 -t text/html "/opt/sntools/bin/arp-history -t | /opt/sntools/bin/html"
KillMode=process
Restart=on-failure

User=root
Type=process

[Install]
WantedBy=multi-user.target
